<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<!--link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css"-->
	<!--link rel="stylesheet" href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.min.css"-->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bootstrap/bootswatch.min.css">
	
	<script src="{{STATIC_URL}}js/jquery.js"></script>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<title>{% block titulo %}
		Farmacia
	{% endblock titulo %}</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Farmasis</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="" >Farmacias </a>
            </li>
            <li>
              <a href="{% url 'categorias.views.index_categoria' %}">Tipos</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Medicamentos <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li>
                <a href="{% url 'medicamentos.views.index_proveedor' %}">Proveedores</a>
                </li>
                <li>
                <a href="{% url 'medicamentos.views.index_unidad' %}">Unidades de Medida</a>
                </li>
                <li>
                <a href="{% url 'medicamentos.views.index_compuesto' %}">Compuestos</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="Buscar">
            </form>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'usuarios.views.salir' %}">Cerrar Sesión</a>
                {% else %}
                    <a href={% url 'usuarios.views.logget_in' %} >Iniciar Sesión</a>
                {% endif %}
                </li>
            <li>
            	<a href="{% url 'usuarios.views.new_user' %}">Registrate</a>
        	</li>
          </ul>

        </div>
      </div>
    </div>
<div class="container padding70">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					{% block menu %}
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, modi, velit. Minus harum laboriosam numquam illum nostrum perferendis expedita beatae soluta culpa, aperiam debitis nisi ipsum molestiae blanditiis eligendi, quibusdam.</p>
					{% endblock menu %}
				</div>
				<div class="col-md-9">
                    {% if messages %}
                        {% for message in messages %}
                            {% if  message.tags == "error"%}
                                <div class="alert alert-dismissable alert-danger">
                            {% else %}
                                <div class="alert alert-dismissable alert-{{ message.tags }}">
                            {% endif %}
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p>{{ message|safe }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
					{% block cuerpo %}
						<div class="row">
                            <div class="col-md-12">
                                aqui esta el mapa
                                <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7518.259255705922!2d-65.75842069262946!3d-19.578946410585257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sbo!4v1409799680407" width="800" height="600" frameborder="0" style="border:0"></iframe-->
                            </div>
						</div>
					{% endblock cuerpo %}
				</div>
			</div>
		</div>
	</div>

	<div class="row">
          <div class="col-md-12 text-center">
            &copy; Por <a class="fg-color-black " href="mailto:rafa_rolando@hotmail.com">Rafael R. Tapia B.</a>
          </div>
        </div>

</div>


<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>	
</body>
</html>