{%  extends 'base.html' %}

{% block title %}
Tipos
{% endblock %}
{% block menu %}
    {% include 'categorias/menu.html' %}
{% endblock %}
{% block cuerpo %}
    <div class="row">
        <h2>Tipos</h2>
        <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="20px">#</th>
                        <th class="text-center">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ categoria.tipo }}</td>
                        <td><a href="{% url 'farmacias.views.modificar_categoria' categoria.id %}">Modificar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}