{% extends 'form.html' %}

{% block cuerpoform %}
    <form class="form-horizontal">
  <fieldset>
    <legend>Registro de Turno</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Nombre</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Nombre">
      </div>
    </div>
      <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Industria</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Industria">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Stock</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Stock">
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}