{% extends 'base.html' %}
{% block titulo %}
Nuevo Turno
{% endblock %}

{% block cuerpo %}
<div class="row">
        <h2>Turnos</h2>
        <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="20px">#</th>
                        <th class="text-center">Turnos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for turno in turnos %}
                     <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ turno.fecha}}</td>
                        <td><a href="{% url 'farmacias.views.modificar_turno' turno.id %}">Modificar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block menu %}
    {% include 'turnos/menu.html' %}
{% endblock %}